body[data-theme="aufacicenta"] {
  --color-background: #e4e4d8;
  --color-background-shade-mid: #dcdcd1;
  --color-background-shade-low: #ccccc0;
  --color-background-contrast: #6e7278;
  --color-status-info: #5356fc;
  --color-status-info-light: rgb(83 86 252 / 70%);
  --color-status-info-lighter: rgb(83 86 252 / 40%);
  --color-status-success: #3dd598;
  --color-status-success-light: #d6fff5;
  --color-status-success-lighter: #e6fff9;
  --color-status-warning: #ffeea3;
  --color-status-warning-light: #fffdb8;
  --color-status-warning-lighter: #fffeeb;
  --color-status-critical: #bd2d00;
  --color-status-critical-light: #ffe2e0;
  --color-status-critical-lighter: #fff5f5;
  --color-status-unknown: #f4f6f8;
  --color-white: #fff;
  --color-black: #161b1c;
  --color-dark-11: #222529;
  --color-dark-10: #2c3035;
  --color-dark-9: #2c3035;
  --color-dark-8: #40404a;
  --color-dark-7: #6e7278;
  --color-dark-6: #70707c;
  --color-dark-5: #8a8a98;
  --color-dark-4: #a9a9b7;
  --color-dark-3: #d0d0da;
  --color-dark-2: #f5f5ff;
  --color-dark-1: #fff;
  --color-primary: #4a4b6c;
  --color-primary-shade-mid: #3d3e59;
  --color-primary-shade-low: #373850;
  --color-secondary: #32343c;
  --color-secondary-shade-mid: #26282e;
  --color-secondary-shade-low: #1d1f23;
  --color-sidebar-item: var(--color-white);
  --color-sidebar-divider: var(--color-dark-8);
  --color-navbar-logo: var(--color-primary);
  --color-navbar-background: var(--color-background);
  --color-button-primary: var(--color-primary);
  --color-button-primary-text: var(--color-background);
  --color-button-primary-hover: var(--color-primary);
  --color-button-primary-hover-text: var(--color-background-shade-low);
  --color-button-primary-disabled: var(--color-dark-5);
  --color-button-secondary: var(--color-white);
  --color-button-secondary-text: var(--color-white);
  --color-button-secondary-hover: var(--color-dark-10);
  --color-button-secondary-hover-text: var(--color-white);
  --color-button-status-critical: var(--color-status-critical);
  --color-button-status-critical-text: var(--color-status-critical);
  --color-button-status-critical-hover: var(--color-status-critical);
  --color-button-status-critical-hover-text: var(--color-white);
  --color-button-dark: var(--color-background);
  --color-button-dark-text: var(--color-white);
  --color-button-dark-hover: var(--color-background-contrast);
  --color-button-dark-hover-text: var(--color-white);
  --color-button-dark-disabled: var(--color-dark-5);
  --color-button-outlined-primary-text: var(--color-primary);
  --color-button-outlined-primary-hover: transparent;
  --color-button-outlined-primary-hover-text: var(--color-dark-4);
  --color-button-outlined-primary-border: var(--color-primary);
  --color-button-outlined-primary-border-hover: var(--color-dark-4);
  --color-button-outlined-secondary-text: var(--color-secondary);
  --color-button-outlined-secondary-hover: transparent;
  --color-button-outlined-secondary-hover-text: var(--color-dark-4);
  --color-button-outlined-secondary-border: var(--color-secondary);
  --color-button-outlined-secondary-border-hover: var(--color-dark-4);
  --color-button-outlined-info: #ffd74b;
  --color-button-outlined-info-text: #ffd74b;
  --color-button-outlined-disabled: #5b5b65;
  --color-button-outlined-disabled-text: #8a8a98;
  --color-button-outlined-dark-text: var(--color-background);
  --color-button-outlined-dark-hover: transparent;
  --color-button-outlined-dark-hover-text: var(--color-background);
  --color-button-outlined-dark-border: var(--color-background);
  --color-button-outlined-dark-border-hover: var(--color-background-contrast);
  --color-button-text-primary-text: var(--color-primary);
  --color-button-text-primary-hover: transparent;
  --color-button-text-primary-hover-text: var(--color-primary-shade-low);
  --color-button-text-primary-border: var(--color-primary);
  --color-button-text-primary-border-hover: var(--color-primary-shade-low);
  --color-button-text-info: #ffd74b;
  --color-button-text-info-text: #ffd74b;
  --color-button-text-disabled: #5b5b65;
  --color-button-text-disabled-text: #8a8a98;
  --color-theme-button-light: #fff0;
  --color-theme-button-dark: #ffffff40;
  --color-theme-button-divider: var(--color-background-contrast);
  --color-typography-headline-1: var(--color-secondary);
  --color-typography-headline-2: var(--color-secondary);
  --color-typography-headline-3: var(--color-dark-7);
  --color-typography-headline-4: var(--color-dark-7);
  --color-typography-headline-5: var(--color-dark-7);
  --color-typography-headline-6: var(--color-dark-7);
  --color-typography-text: var(--color-secondary);
  --color-typography-text-lead: var(--color-secondary);
  --color-typography-text-bold: var(--color-secondary);
  --color-typography-subtitle: var(--color-dark-5);
  --color-typography-button-label: var(--color-secondary);
  --color-typography-mini-button-label: var(--color-secondary);
  --color-typography-description: var(--color-secondary);
  --color-typography-mini-description: var(--color-dark-5);
  --color-typography-link: var(--color-primary);
  --color-typography-link-hover: var(--color-primary-shade-low);
  --color-tab-navigation-border: var(--color-dark-7);
  --color-tab-item-default: var(--color-dark-7);
  --color-tab-item-active: var(--color-white);
  --color-market-card-background: var(--color-background);
  --color-market-card-background-contrast: var(--color-background);
  --color-market-card-title: #fff;
  --color-market-card-stat: #b1b1b1;
  --color-market-fees-card-background: #ffd74b;
  --color-market-fees-card-text: #fff;
  --color-horizontal-line-background: var(--color-secondary-shade-mid);
  --color-value-increase: #00d3a1;
  --color-value-increase-bright: #00bb8e;
  --color-value-decrease: #ff7c35;
  --color-value-decrease-bright: #e76823;
  --color-input-text: var(--color-typography-text);
  --color-input-text-disabled: var(--color-typography-description);
  --color-input-background: white;
  --color-input-background-disabled: var(--color-background-contrast);
  --color-input-border: var(--color-black);
  --color-input-label: rgb(255 255 255 / 70%);
  --color-input-placeholder: var(--color-typography-description);
  --color-dropzone-border: var(--color-typography-description);
  --color-dropzone-border-hover: var(--color-primary);
  --color-chat-sidebar-background: var(--color-background-contrast);
  --color-chat-sidebar-background-hover: var(--color-background);
  --color-table-background: var(--color-background-contrast);
  --button-large-border-radius: 7px;
  --color-accordion-border: var(--color-dark-5);
}
