/* stylelint-disable CssSyntaxError */
body[data-theme="svpervnder"] {
  // Status colors
  --color-status-info: #5356fc;
  --color-status-info-light: rgba(83, 86, 252, 0.7);
  --color-status-info-lighter: rgba(83, 86, 252, 0.4);
  --color-status-success: #3dd598;
  --color-status-success-light: #d6fff5;
  --color-status-success-lighter: #e6fff9;
  --color-status-warning: #ffeea3;
  --color-status-warning-light: #fffdb8;
  --color-status-warning-lighter: #fffeeb;
  --color-status-critical: #bd2d00;
  --color-status-critical-light: #ffe2e0;
  --color-status-critical-lighter: #fff5f5;
  --color-status-unknown: #f4f6f8;

  // Gray dark
  --color-white: #fff;
  --color-black: #161b1c;
  --color-dark-11: #222529;
  --color-dark-10: #2c3035;
  --color-dark-9: #2c3035;
  --color-dark-8: #40404a;
  --color-dark-7: #5b5b65;
  --color-dark-6: #70707c;
  --color-dark-5: #8a8a98;
  --color-dark-4: #a9a9b7;
  --color-dark-3: #d0d0da;
  --color-dark-2: #f5f5ff;
  --color-dark-1: #ffffff;

  // Brand
  --color-primary: #faff0a;
  --color-primary-shade-mid: #e5e907;
  --color-primary-shade-low: #d5d907;
  --color-secondary: #fff;
  --color-secondary-shade-mid: var(--color-dark-4);
  --color-secondary-shade-low: var(--color-dark-7);

  // Background
  --color-background: #171719;
  --color-background-contrast: #000;

  // Sidebar
  --color-sidebar-item: var(--color-white);
  --color-sidebar-divider: var(--color-dark-8);

  // Navbar
  --color-navbar-logo: var(--color-primary);
  --color-navbar-background: var(--color-background);

  // Button
  --color-button-primary: var(--color-primary);
  --color-button-primary-text: var(--color-background);
  --color-button-primary-hover: var(--color-primary);
  --color-button-primary-hover-text: var(--color-background-contrast);
  --color-button-primary-disabled: var(--color-dark-5);
  --color-button-secondary: var(--color-white);
  --color-button-secondary-text: var(--color-white);
  --color-button-secondary-hover: var(--color-dark-10);
  --color-button-secondary-hover-text: var(--color-white);
  --color-button-status-critical: var(--color-status-critical);
  --color-button-status-critical-text: var(--color-status-critical);
  --color-button-status-critical-hover: var(--color-status-critical);
  --color-button-status-critical-hover-text: var(--color-white);
  --color-button-dark: var(--color-background);
  --color-button-dark-text: var(--color-white);
  --color-button-dark-hover: var(--color-background-contrast);
  --color-button-dark-hover-text: var(--color-white);
  --color-button-dark-disabled: var(--color-dark-5);

  // Button outlined
  --color-button-outlined-primary-text: var(--color-primary);
  --color-button-outlined-primary-hover: transparent;
  --color-button-outlined-primary-hover-text: var(--color-dark-4);
  --color-button-outlined-primary-border: var(--color-primary);
  --color-button-outlined-primary-border-hover: var(--color-dark-4);
  --color-button-outlined-secondary-text: var(--color-secondary);
  --color-button-outlined-secondary-hover: transparent;
  --color-button-outlined-secondary-hover-text: var(--color-dark-4);
  --color-button-outlined-secondary-border: var(--color-secondary);
  --color-button-outlined-secondary-border-hover: var(--color-dark-4);
  --color-button-outlined-info: #ffd74b;
  --color-button-outlined-info-text: #ffd74b;
  --color-button-outlined-disabled: #5b5b65;
  --color-button-outlined-disabled-text: #8a8a98;
  --color-button-outlined-dark-text: var(--color-background);
  --color-button-outlined-dark-hover: transparent;
  --color-button-outlined-dark-hover-text: var(--color-background);
  --color-button-outlined-dark-border: var(--color-background);
  --color-button-outlined-dark-border-hover: var(--color-background-contrast);

  // Button text
  --color-button-text-primary-text: var(--color-primary);
  --color-button-text-primary-hover: transparent;
  --color-button-text-primary-hover-text: var(--color-primary-shade-low);
  --color-button-text-primary-border: var(--color-primary);
  --color-button-text-primary-border-hover: var(--color-primary-shade-low);
  --color-button-text-info: #ffd74b;
  --color-button-text-info-text: #ffd74b;
  --color-button-text-disabled: #5b5b65;
  --color-button-text-disabled-text: #8a8a98;

  // Theme Selector
  --color-theme-button-light: #ffffff00;
  --color-theme-button-dark: #ffffff40;
  --color-theme-button-divider: var(--color-background-contrast);

  // Typography
  --color-typography-headline-1: var(--color-white);
  --color-typography-headline-2: var(--color-white);
  --color-typography-headline-3: var(--color-dark-4);
  --color-typography-headline-4: var(--color-dark-4);
  --color-typography-headline-5: var(--color-dark-4);
  --color-typography-headline-6: var(--color-white);
  --color-typography-text: var(--color-white);
  --color-typography-text-lead: var(--color-dark-4);
  --color-typography-text-bold: var(--color-white);
  --color-typography-subtitle: var(--color-dark-5);
  --color-typography-button-label: var(--color-white);
  --color-typography-mini-button-label: var(--color-white);
  --color-typography-description: var(--color-dark-4);
  --color-typography-mini-description: var(--color-dark-5);
  --color-typography-link: var(--color-primary);
  --color-typography-link-hover: var(--color-primary-shade-low);

  // Tab
  --color-tab-navigation-border: var(--color-dark-7);
  --color-tab-item-default: var(--color-dark-7);
  --color-tab-item-active: var(--color-white);

  // Market Card
  --color-market-card-background: var(--color-background);
  --color-market-card-background-contrast: var(--color-background);
  --color-market-card-title: #fff;
  --color-market-card-stat: #b1b1b1;

  // Market Fees Card
  --color-market-fees-card-background: #ffd74b;
  --color-market-fees-card-text: #fff;

  // Horizontal Line
  --color-horizontal-line-background: var(--color-secondary-shade-mid);

  // Data Visualization colors
  --color-value-increase: #00d3a1;
  --color-value-increase-bright: #00bb8e;
  --color-value-decrease: #ff7c35;
  --color-value-decrease-bright: #e76823;

  // Forms
  --color-input-text: var(--color-typography-text);
  --color-input-text-disabled: var(--color-typography-description);
  --color-input-background: white;
  --color-input-background-disabled: var(--color-background-contrast);
  --color-input-border: var(--color-black);
  --color-input-label: rgba(255, 255, 255, 0.7);
  --color-input-placeholder: var(--color-typography-description);

  // Dropzone
  --color-dropzone-border: var(--color-typography-description);
  --color-dropzone-border-hover: var(--color-primary);

  // Chat Sidebar
  --color-chat-sidebar-background: var(--color-background-contrast);
  --color-chat-sidebar-background-hover: var(--color-background);

  // Table
  --color-table-background: var(--color-background-contrast);

  // Border Radius
  --border-radius-button-large: 30px;
}
