@import "src/theme/base";
@import "src/theme/mixins";
@import "src/ui/typography/variables";

.latest-collection {
  @include hero;
  display: block;

  &__hero {
    @include atLargeTablet {
      min-height: 40vh;
    }
    min-height: 75vh;

    &--logo {
      @include atLargeTablet {
        min-height: 120vh;
      }
      min-height: 50vh;
      background-image: url(/hellheadz/bg-desktop-left.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    &--intro-text {
      @include atLargeTablet {
        min-height: 85vh;
      }
      justify-content: flex-end;
      min-height: 100vh;
      will-change: transform;

      &-two {
        justify-content: center;
      }

      &-highlight {
        @include atLargeTablet {
          font-size: $font-size-headline-1 !important;
        }
        font-size: $font-size-headline-2 !important;
        color: var(--color-primary);

        &-top {
          margin-top: $space-ml;
        }
      }

      &-last {
        min-height: 100vh;
      }

      h2 {
        @include atLargeTablet {
          font-size: $font-size-headline-2;
          line-height: 1.7;
        }
        font-size: $font-size-headline-3;
        line-height: 2;
        text-align: center;
      }

      [class*="mask"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 115%;
        background: var(--color-background);
        opacity: 0.8;
      }
    }
  }

  &__intro {
    text-align: right;

    &--artist-name {
      color: var(--color-primary);
    }
  }

  &__description {
    text-align: justify;
  }

  &__stats {
    @include atLargeTablet {
      justify-content: flex-end;
    }
    display: flex;
    margin-bottom: $space-m;

    &--sub {
      color: var(--color-typography-text);

      span {
        @include font-properties($typography-mini-description);
        color: var(--color-typography-mini-description);
      }

      &-minted {
        text-align: right;
      }
    }
  }

  &__grid {
    margin-top: $space-l;

    &--info-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 278px;
      padding-right: $space-xl;
      padding-left: $space-xl;

      &-col {
        margin-bottom: $space-default;
      }

      h3 {
        color: var(--color-typography-text);
      }
    }

    &--info-card-light {
      @include atLargeTablet {
        min-height: 278px;
      }
      min-height: 180px;
      padding-right: $space-ml;
      padding-left: $space-ml;
      text-align: right;
      background-color: var(--color-primary);

      h5 {
        color: var(--color-black);
      }

      p {
        color: var(--color-black);
      }
    }
  }
}
