@import "src/theme/base";
@import "src/theme/mixins";
@import "src/ui/typography/variables";

.larskristo {
  @include hero;
  display: block;

  &__title {
    font-family: $font-family-display;
  }

  &__pfp {
    img {
      width: 100%;
      height: auto;
    }
  }

  &__hero {
    @include atLargeTablet {
      justify-content: center;
      margin-bottom: auto;
    }
    justify-content: flex-end;
    height: 80vh;
    margin-bottom: $space-l;
  }

  &__socials-row {
    display: flex;
    margin-top: $space-ml;

    button,
    a {
      margin-right: $space-default;
    }
  }
}
