@import "src/theme/base";

.lease-item {
  @include atLargeTablet {
    flex: 1;
  }
  flex: none;
  width: 280px;
  margin-right: $space-default;

  &__featured-image {
    padding: $space-s;
    padding-bottom: 0;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__name-price-row {
    display: flex;
    justify-content: space-between;
    padding: $space-s;
    padding-top: 0;
  }

  &__owner-contract-row {
    display: flex;
    justify-content: space-between;
    padding: $space-s;
    padding-top: 0;
  }

  &__actions {
    button {
      width: 50%;
    }
  }
}
