@import "src/theme/base";
@import "./forms/forms";
@import "./icons";
@import "src/ui/table/reboot";
@import "src/theme/variants/aufacicenta";

html {
  @media (max-width: $mq-medium) {
    font-size: 9px;
  }
  font-size: 14px;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-display;
}

body {
  position: relative;
}

#__next {
  position: relative;
}

a {
  text-decoration: underline;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.dropzone {
  .dz-preview {
    display: none;
  }

  &.dz-started {
    .dz-message {
      display: flex;
    }
  }
}

code {
  background-color: var(--color-background-contrast);
}
