@import "src/theme/base";
@import "src/ui/typography/mixins";

.text {
  @include truncate;

  &__align {
    &--center {
      text-align: center;
    }
  }

  &__color {
    &--primary {
      color: var(--color-primary);
    }

    &--info {
      color: var(--color-status-info);
    }

    &--typography-text {
      color: var(--color-typography-text);
    }
  }
}
