@import "src/theme/base";
@import "src/ui/typography/mixins";
@import "src/ui/fileagent/navbar/variables";

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-background);

  &__bottom {
    margin-top: $space-default;
  }

  &__socials {
    display: flex;

    [class*="icon"] {
      font-size: $font-size-headline-4;
    }

    &--etherscan-icon {
      @include atLargeTablet {
        width: 21px;
      }
      width: 16px;
    }

    &--links {
      display: block;
    }

    &--link {
      margin-right: $space-m;
      vertical-align: middle;
    }
  }

  &__logo {
    @include atLargeTablet {
      width: 128px;
    }
    width: 90px;
    height: auto;
    margin-bottom: -13px;
  }

  &__left,
  &__right,
  &__center {
    display: flex;
    flex-wrap: wrap;

    &--item {
      @include atLargeTablet {
        min-height: $footer-height;
        padding: $space-default 0;
      }
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: $footer-height-mobile;
      padding: 0;

      &-flat {
        min-height: auto;
      }

      &-flat-bottom {
        padding-bottom: 0;
      }
    }
  }

  &__center {
    @include atLargeTablet {
      text-align: center;
    }
    text-align: left;
  }

  &__left {
    &--item {
      margin-right: $space-ml;
    }

    a {
      color: var(--color-typography-description);
    }
  }

  &__right {
    justify-content: flex-end;
    text-align: right;

    &--item {
      margin-left: $space-ml;
    }

    a {
      line-height: 30px;
      color: var(--color-typography-description);
    }
  }

  &__powered-by {
    svg {
      width: 70px;
    }
  }

  &__cta-banner {
    padding: $footer-height 0;
    background-color: var(--color-black);

    &--icon {
      display: block;
      margin-bottom: $space-ml;

      svg {
        width: 40px;
      }
    }

    &--link {
      @include atLargeTablet {
        text-align: right;
      }
      display: block;
      margin-bottom: $space-default;
      text-decoration: none;
      color: var(--color-background);
    }

    &--welcome {
      color: var(--color-white);
    }

    &--description {
      @include atLargeTablet {
        margin-bottom: 0;
      }
      margin-bottom: $space-l;
      color: var(--color-white);
    }

    &--cta {
      @include font-properties($typography-headline-3);
      display: block;
      text-align: right;
      color: var(--color-white);
    }
  }

  &__copyright {
    padding: $space-ml 0;
    background-color: var(--color-black);

    &--social {
      display: flex;
      justify-content: flex-end;

      &-text {
        color: var(--color-background);
      }

      &-icon {
        font-size: $font-size-headline-5;
        color: var(--color-background);
      }

      &-aufacicenta-icon {
        width: 24px;
        color: var(--color-background);
      }

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 43px;
      }
    }
  }
}
